.activity-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
    color: #f1f1f1;
  }

  .cardTitle {
      font-size: x-large;
  }

  .activityDate {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: darkgray;
      font-size: small;
  }